
body{
    background-color: #fff;
    box-sizing: border-box;
    color:#000;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

header{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
}

table{
    background-color: #F0F0F0;
    border-collapse: collapse;
    margin: 0 auto;
    width:100%;
    height: auto;
}

.container-fluid{
    margin:0px;
}

thead th {
    text-align: center;
}

h1,
h2{
    font-weight: 700;
}

td, 
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.container-fluid .Table_title{
    background-color: rgb(206, 161, 193);
    font-size: 1.1em;
    padding: 10px 20px;
}

.Table_header:hover,
.Table_header:active{
    background-color: #F1B0AC; 
}
